.title-hero {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
}
.btn-started {
  background: #5BA8DD;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
}
.btn-started:hover {
  border: #5BA8DD solid 1px;
  color: #5BA8DD;
}



@media(max-width:500px){
  .title-hero{
    font-size: 40px;
    text-align: center;
  }
  .mobile-button{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}