.btn-Connect {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* identical to box height */
  color: #ffffff;
  background: #33A8DF;
  border-radius: 5px;
}
.btn-Connect:hover {
  color: #33A8DF;
  background: #33A8DF;
}
.nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffff ;
}
.nav-link:hover {
  color: #33A8DF;
  text-transform: capitalize;
}
